<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #d7e3ff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="logo.png" alt="Topic Mine" width="40" height="40" class="d-inline-block">
      Topic Mine
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <!-- TODO: UNCOMMENT WHEN WORKING -->
        <!-- <a class="nav-link" routerLink="history" routerLinkActive="active">History</a> -->
        <a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet/>
