{
    "advertiser":"Retailer name",
    "project_id": "project_id_to_deploy_topic_mine_to",
    "project_region": "your-google-cloud-project-region - e.g.: us-central1",
    "client_id": "",
    "client_secret": "",
    "refresh_token": "",
    "login_customer_id": "",
    "google_ads_developer_token": "",
    "gemini_api_token": "",
    "cloud_run_service": "topic-mine",
    "service_account_name": "topic-mine-service-account",
    "language": "ES",
    "country": "Argentina"
}