<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <mat-stepper #stepper orientation="vertical" [linear]="true">
      <mat-step>
        <ng-template matStepLabel>Content Generation Selection</ng-template>
        <ng-template matStepContent>
          <button mat-button (click)="showDataSourcesConfig()" matStepperNext>
            Next
          </button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Data Sources Configuration</ng-template>
        <ng-template matStepContent>
          <button mat-button (click)="showDestinationsConfig()" matStepperNext>
            Next
          </button>
          <button
            mat-button
            (click)="showContentGenerationSelectionConfig()"
            matStepperPrevious
          >
            Back
          </button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Destinations Configuration</ng-template>
        <ng-template matStepContent>
          <button
            mat-button
            (click)="showContentGenerationConfig()"
            matStepperNext
          >
            Next
          </button>
          <button
            mat-button
            (click)="showDataSourcesConfig()"
            matStepperPrevious
          >
            Back
          </button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Content Generation Configuration</ng-template>
        <ng-template matStepContent>
          <button
            mat-button
            (click)="showDestinationsConfig()"
            matStepperPrevious
          >
            Back
          </button>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="components-container">
      @if (showCTS){
      <app-content-type-selection
        (contentTypeSelectionEvent)="receiveContentTypeSelection($event)"
      ></app-content-type-selection>
      } @if (showSC){
      <app-data-sources-config
        (dataSourcesConfigEvent)="receiveDataSourcesConfig($event)"
      ></app-data-sources-config>
      } @if (showDC){
      <app-destinations-config
        (destinationsConfigEvent)="receiveDestinationsConfig($event)"
      ></app-destinations-config>
      } @if (showCGC){
      <app-content-generation-config
        (contentGenerationConfigEvent)="receiveContentGenerationConfig($event)"
      ></app-content-generation-config>
      }
    </div>
  </div>
</mat-drawer-container>