<div>
  <h1>Basic config</h1>
  <mat-divider class="divider-class"></mat-divider>

  <div class="checkbox-container">
    <div class="tooltip-container-checkboxes">
      <mat-checkbox [(ngModel)]="generateKeywords">Generate keywords</mat-checkbox>
      <mat-icon matSuffix matTooltip="Check to enable keyword generation.">help</mat-icon>
    </div>

    <div class="tooltip-container-checkboxes">
      <mat-checkbox [(ngModel)]="generatePaths">Generate paths</mat-checkbox>
      <mat-icon matSuffix matTooltip="Check to enable path generation. Paths are part of the ad's display URL, and they don't have to correspond to actual sections or directories on your website. They are primarily for customizing the appearance of your ad's display URL and making it more relevant to the user's search query.">help</mat-icon>
    </div>

    <div class="tooltip-container-checkboxes">
      <mat-checkbox [(ngModel)]="enableFeatureExtraction">Enable feature extraction</mat-checkbox>
      <mat-icon matSuffix matTooltip="Check to enable feature extraction. This will try to identify your product's main features to better understand its content and generate more precise texts.">help</mat-icon>
    </div>

    <div class="tooltip-container-checkboxes">
      <mat-checkbox [(ngModel)]="enableURLValidation">URL validation</mat-checkbox>
      <mat-icon matSuffix matTooltip="Check to enable URL validation. This will check if your URLs are valid.">help</mat-icon>
    </div>
  </div>

  <div class="form-field-container">
    <div class="tooltip-container-input-fields">
      <mat-form-field class="number-input-field">
        <mat-label>Number of headlines</mat-label>
        <input type="number" matInput [formControl]="headlinesCounterFormControl" [errorStateMatcher]="matcher"
                placeholder="Enter a number between 0 and 15">
      </mat-form-field>
      <mat-icon matSuffix matTooltip="Number of headlines that Topic Mine will generate.">help</mat-icon>
    </div>

    <div class="tooltip-container-input-fields">
      <mat-form-field class="number-input-field">
        <mat-label>Number of descriptions</mat-label>
        <input type="number" matInput [formControl]="descriptionsCounterFormControl" [errorStateMatcher]="matcher"
                placeholder="Enter a number between 0 and 4">
      </mat-form-field>
      <mat-icon matSuffix matTooltip="Number of descriptions that Topic Mine will generate.">help</mat-icon>
    </div>
  </div>

  <h1>Blocklisting</h1>
  <mat-divider class="divider-class"></mat-divider>

  <div class="form-field-container">
    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Headlines blocklist</mat-label>
        <input type="text" matInput [formControl]="headlinesBlocklistingFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of words or phrases blocked in headlines. Case insensitive.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="These terms will be excluded from the output. Topic Mine will not generate headlines with these terms.">help</mat-icon>
    </div>

    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Descriptions blocklist</mat-label>
        <input type="text" matInput [formControl]="descriptionsBlocklistingFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of words or phrases blocked in descriptions. Case insensitive.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="These terms will be excluded from the output. Topic Mine will not generate descriptions with these terms.">help</mat-icon>
    </div>

    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Headlines regular expressions blocklist</mat-label>
        <input type="text" matInput [formControl]="headlinesBlocklistingFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of regular expressions blocked in headlines.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="Topic Mine will not generate headlines that match with these regular expressions.">help</mat-icon>
    </div>

    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Descriptions regular expressions blocklist</mat-label>
        <input type="text" matInput [formControl]="descriptionsBlocklistingFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of regular expressions blocked in descriptions.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="Topic Mine will not generate descriptions that match with these regular expressions.">help</mat-icon>
    </div>
  </div>


  <h1>Generic copies</h1>
  <mat-divider class="divider-class"></mat-divider>

  <div class="form-field-container">
    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Generic headlines</mat-label>
        <input type="text" matInput [formControl]="genericHeadlinesFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of headlines that will be present in the output in case the AI cannot generate anymore.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="If Gemini cannot generate enough headlines, these will be used randomly to fill in the output until the desired number of headlines is reached.">help</mat-icon>
    </div>

    <div class="tooltip-container-input-fields">
      <mat-form-field>
        <mat-label>Generic descriptions</mat-label>
        <input type="text" matInput [formControl]="genericDescriptionsFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Comma-separated list of descriptions that will be present in the output in case the AI cannot generate anymore.</mat-hint>
      </mat-form-field>
      <mat-icon matSuffix matTooltip="If Gemini cannot generate enough descriptions, these will be used randomly to fill in the output until the desired number of descriptions is reached.">help</mat-icon>
    </div>
  </div>

  <div class="form-field-container" style="display: flex; justify-content: center; padding: 50px 0;">
    <button type="button" mat-stroked-button (click)="sendContentGenerationConfig()">Back</button>
    <button type="button" mat-flat-button (click)="sendContentGenerationConfig()" [disabled]="isStartButtonDisabled">Start generation</button>
  </div>
</div>
