<!-- <nav class="navbar bg-body-tertiary" style="background-color: #005cbb;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Topic Mine" width="30" height="30" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">Topic Mine</a>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#">Start execution</a>
      <a class="nav-link" href="history">History</a>
      <a class="nav-link" href="/settings">Settings</a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #d7e3ff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Topic Mine" width="40" height="40" class="d-inline-block">
      Topic Mine
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="history">History</a>
        <a class="nav-link" href="settings">Settings</a>
      </div>
    </div>
  </div>
</nav>
