<div>
  <div class="row align-items-center">
    <div class="col-11">
      <h1>Data sources</h1>
    </div>
    <div class="col-1">
      <a href="https://github.com/google-marketing-solutions/topic-mine/wiki/Body-params" target="_blank" rel="noopener noreferrer">Help</a>
    </div>
  </div>


  <!-- ||||||||||||||||||||||||||||| FIRST TERM ||||||||||||||||||||||||||||| -->
  <div class="row pt-5">
    <div class="col-4">
      <h4>First term source</h4>
    </div>
    <div class="col">
      <ul class="nav nav-underline justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button (click)="onFirstTermTabSelected('Google Sheets first term');" class="nav-link active" id="google-sheets-first-term-tab" data-bs-toggle="tab" data-bs-target="#google-sheets-first-term-tab-pane" type="button" role="tab" aria-controls="google-sheets-first-term-tab-pane" aria-selected="true">Google Sheets</button>
        </li>
        <li class="nav-item" role="presentation">
          <button (click)="onFirstTermTabSelected('BigQuery first term');" class="nav-link" id="bigquery-first-term-tab" data-bs-toggle="tab" data-bs-target="#bigquery-first-term-tab-pane" type="button" role="tab" aria-controls="bigquery-first-term-tab-pane" aria-selected="false">BigQuery</button>
        </li>
        <li class="nav-item" role="presentation">
          <button disabled (click)="onFirstTermTabSelected('List of terms first term');" class="nav-link" id="list-of-terms-first-term-tab" data-bs-toggle="tab" data-bs-target="#list-of-terms-first-term-tab-pane" type="button" role="tab" aria-controls="list-of-terms-first-term-tab-pane" aria-selected="false">List of terms</button>
        </li>
      </ul>
    </div>
  </div>
  <mat-divider class="pt-1"></mat-divider>

  <div class="tab-content" id="myTabContent">
    <!-- ||||||||||| GOOGLE SHEETS ||||||||||| -->
    <div class="tab-pane fade show active row" id="google-sheets-first-term-tab-pane" role="tabpanel" aria-labelledby="google-sheets-first-term-tab" tabindex="0">
      <h5 class="pt-3">General</h5>
      <div class="row">
        <div class="col-5">
          <label for="basic-url" class="form-label">Spreadsheet ID*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="spreadsheetIdGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col-5">
          <label for="basic-url" class="form-label">Sheet name*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="sheetNameGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Starting row*</label>
          <div class="input-group">
            <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"  matInput [formControl]="startingRowGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
      </div>
      <h5 class="pt-3">Columns</h5>
      <div class="row">
        <div class="col">
          <label for="basic-url" class="form-label">Terms*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"  matInput [formControl]="termColumnGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Descriptions</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="descriptionColumnGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">SKU</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"  matInput [formControl]="skuColumnGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">URL</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="urlColumnGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Image URL</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="imageUrlColumnGoogleSheetsFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
      </div>
    </div>
    <!-- ||||||||||| BIG QUERY ||||||||||| -->
    <div class="tab-pane fade" id="bigquery-first-term-tab-pane" role="tabpanel" aria-labelledby="bigquery-first-term-tab" tabindex="0">
      <h5 class="pt-3">General</h5>
      <div class="row">
        <div class="col">
          <label for="basic-url" class="form-label">Project ID*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="projectIdBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Dataset*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="datasetBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Table name*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="tableBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col-2">
          <label for="basic-url" class="form-label">Limit</label>
          <div class="input-group">
            <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="limitBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
      </div>
      <h5 class="pt-3">Columns</h5>
      <div class="row">
        <div class="col">
          <label for="basic-url" class="form-label">Term*</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="termColumnBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Descriptions</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="descriptionColumnBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">SKU</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="skuColumnBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">URL</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="urlColumnBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
        <div class="col">
          <label for="basic-url" class="form-label">Image URL</label>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="imageUrlColumnBigQueryFirstTermFormControl" [errorStateMatcher]="matcher">
          </div>
        </div>
      </div>
    </div>
    <!-- ||||||||||| LIST OF TERMS ||||||||||| -->
    <div class="tab-pane fade" id="list-of-terms-first-term-tab-pane" role="tabpanel" aria-labelledby="list-of-terms-first-term-tab" tabindex="0">
      <h5 class="pt-3">List of terms</h5>
      <div class="input-group">
        <textarea type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="listOfTermsFirstTermFormControl" [errorStateMatcher]="matcher"></textarea>
      </div>
      <div class="form-text" id="basic-addon4">Comma separated list of terms to use as input.</div>
    </div>
  </div>

  <!-- ||||||||||||||||||||||||||||| SECOND TERM ||||||||||||||||||||||||||||| -->
  @if (mustShowSecondTermConfig){
    <div class="row pt-5">
      <div class="col-4">
        <h4>Second term source</h4>
      </div>
      <div class="col">
        <ul class="nav nav-underline justify-content-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button (click)="onSecondTermTabSelected('Google Sheets second term');" class="nav-link active" id="google-sheets-second-term-tab" data-bs-toggle="tab" data-bs-target="#google-sheets-second-term-tab-pane" type="button" role="tab" aria-controls="google-sheets-second-term-tab-pane" aria-selected="true">Google Sheets</button>
          </li>
          <li class="nav-item" role="presentation">
            <button disabled (click)="onSecondTermTabSelected('BigQuery second term');" class="nav-link" id="bigquery-second-term-tab" data-bs-toggle="tab" data-bs-target="#bigquery-second-term-tab-pane" type="button" role="tab" aria-controls="bigquery-second-term-tab-pane" aria-selected="false">BigQuery</button>
          </li>
          <li class="nav-item" role="presentation">
            <button (click)="onSecondTermTabSelected('Google Trends second term');" class="nav-link" id="google-trends-second-term-tab" data-bs-toggle="tab" data-bs-target="#google-trends-second-term-tab-pane" type="button" role="tab" aria-controls="google-trends-second-term-tab-pane" aria-selected="false">Google Trends</button>
          </li>
        </ul>
      </div>
    </div>
    <mat-divider class="pt-1"></mat-divider>

    <div class="tab-content" id="myTabContent">
      <!-- ||||||||||| GOOGLE SHEETS ||||||||||| -->
      <div class="tab-pane fade show active row" id="google-sheets-second-term-tab-pane" role="tabpanel" aria-labelledby="google-sheets-second-term-tab" tabindex="0">
        <h5 class="pt-3">General</h5>
        <div class="row">
          <div class="col-5">
            <label for="basic-url" class="form-label">Spreadsheet ID*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="spreadsheetIdGoogleSheetsSecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col-5">
            <label for="basic-url" class="form-label">Sheet name*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="sheetNameGoogleSheetsSecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col">
            <label for="basic-url" class="form-label">Starting row*</label>
            <div class="input-group">
              <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="startingRowGoogleSheetsSecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
        </div>
        <h5 class="pt-3">Columns</h5>
        <div class="row">
          <div class="col">
            <label for="basic-url" class="form-label">Terms*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="termColumnGoogleSheetsSecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col">
            <label for="basic-url" class="form-label">Descriptions</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="descriptionColumnGoogleSheetsSecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
        </div>
      </div>
      <!-- ||||||||||| BIG QUERY ||||||||||| -->
      <div class="tab-pane fade" id="bigquery-second-term-tab-pane" role="tabpanel" aria-labelledby="bigquery-second-term-tab" tabindex="0">
        <h5 class="pt-3">General</h5>
        <div class="row">
          <div class="col">
            <label for="basic-url" class="form-label">Project ID*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="projectIdBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col">
            <label for="basic-url" class="form-label">Dataset*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="datasetBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col">
            <label for="basic-url" class="form-label">Table name*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="tableBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col-2">
            <label for="basic-url" class="form-label">Limit</label>
            <div class="input-group">
              <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="limitBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
        </div>
        <h5 class="pt-3">Columns</h5>
        <div class="row">
          <div class="col">
            <label for="basic-url" class="form-label">Term*</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="termColumnBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
          <div class="col">
            <label for="basic-url" class="form-label">Descriptions</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="descriptionColumnBigQuerySecondTermFormControl" [errorStateMatcher]="matcher">
            </div>
          </div>
        </div>
      </div>
      <!-- ||||||||||| LIST OF TERMS ||||||||||| -->
      <div class="tab-pane fade" id="google-trends-second-term-tab-pane" role="tabpanel" aria-labelledby="google-trends-second-term-tab" tabindex="0">
        <h5 class="pt-3">Google Trends</h5>
        <div class="input-group">
          <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" matInput [formControl]="limitGoogleTrendsSecondTermFormControl" [errorStateMatcher]="matcher">
        </div>
        <div class="form-text" id="basic-addon4">Number of trends to retrieve. Empty = no limit.</div>
      </div>
    </div>
  }
  <div class="button-container" style="display: flex; gap: 20px; justify-content: center; padding: 50px 0;">
    <button type="button" mat-stroked-button (click)="goBack()">Back</button>
    <button type="button" mat-flat-button (click)="sendDataSourcesConfig()" [disabled]="isNextButtonDisabled">Next</button>
  </div>

</div>
