.navbar {
    background-color: #d7e3ff;
    color: #005cbb;
    height: 96px;

    .navbar-logo {
        display: flex;
        justify-content: flex-start;
        padding: 8px;
        font-size: 32px;

        .title {
            margin: auto 8px;
        }

        img {
            width: 80px;
        }
    }
}